@charset "UTF-8";

/* 레이아웃 */
#header {
  width: 100%;
  background: #fff;
  height: 217px;
 }
#banner {
  width: 100%;
  height: 450px;
}
#product {
  width: 100%;
  height: 500px;
}
#footer {
  width: 100%;
  background: #e3fdfd;
}

/* container영역 */
.container {
  width: 1280px;
  margin: 0 auto;
}

/* row영역 */
.row {
  padding: 0 28px;
}

/* header영역 */
.header .wrap {
  position: relative;
}
/* 로고 */
.header .wrap .header_logo {
  float: left;
}
/* 검색창 */
.header .wrap .search {
  float: left;
  width: 550px;
  height: 50px;
  border: 5px solid #71c9ce;
  border-radius: 30px;
  background: #fff;
  margin-left: 65px;
  margin-top: 45px;
}
.header .wrap .search input {
  font-size: 17px;
  width: 478px;
  height: 50px;
  border: 0;
  border-radius: 30px;
  padding-left: 20px;
  outline: none;
  padding: 0;
}
.header .wrap .search button {
  width: 50px;
  height: 100%;
  border: 0;
  border-radius: 30px;
  background: #fff;
  outline: none;
  float: right;
  color: #71c9ce;
}
.header .wrap .search button i {
  font-size: 2em;
}
/* 헤더 배너 */
.header .wrap .header_banner {
  position: relative;
  position: absolute;
  top: 40px;
  right: 205px;
  width: 150px;
  height: 70px;
}
.header .wrap .header_banner figcaption {
  padding: 2px;
  font-size: 10px;
  font-weight: bold;
  color: #bbb;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #fff;
  border: 1px solid #bbb;
}
/* 로그인 */
.header .wrap .login {
  float: right;
  margin-top: 65px;
}
.header .wrap .login ul {}
.header .wrap .login ul li {
  float: left;
  position: relative;
}
.header .wrap .login ul li:first-child {
  margin-right: 15px;
}
.header .wrap .login ul li:last-child::after {
  content: '';
  width: 1px;
  height: 17px;
  background: #999;
  position: absolute;
  left: -7.5px;
  top: 0;
}
.header .wrap .login ul li a {
  font-size: 17px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  color: #999;
}
/* 카테고리 */
#category {
  background: #a6e3e9;
  width: 100%;
  height: 65px;
}
.category {
  position: relative;
}
.category button {
  border: 0;
  outline: none;
  width: 250px;
  height: 65px;
  padding: 0;
}
.category .menu {
  position: relative;
  background: #71c9ce;
  width: 250px;
  height: 65px;
}
.category a {
  display: inline-block;
}
.category .menu .ham {
  padding: 10px 0 0 39px;
  float: left;
  font-size: 40px;
  color: #fff;
}
.category .menu strong {
  font-size: 21px;
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  position: absolute;
  top: 21.5px;
  right: 50px;
}

/* 배너 슬라이드 */
.main_banner {
  width: 100%;
  height: 450px;
}
.main_banner .ss {
  background: url("../img/banner.png") no-repeat center center;
  background-size: cover;
  z-index: 1;
}
.main_banner .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #fff;
  opacity: 0.9;
}
.main_banner .swiper-pagination-bullet-active {
  background: #71c9ce;
}


/* 상품진열 */
.product {}


/* footer */
.footer {
  padding: 50px 0;
  width: 80%;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}
.footer ul {
  padding: 15px 0;
}
.footer ul li {
  position: relative;
  display: inline;
  padding-right: 0;
   white-space: nowrap;
}
.footer ul li::after {
  content: '';
  display: inline-block;
  margin: 0 8px;
  width: 1px; height: 11px;
  background: #8f8f8f;
}
.footer ul li:last-child::after {
  display: none;
}
.footer li a {color: #8f8f8f;}
.footer address p {
  color: #8f8f8f;
  padding-bottom: 15px;
}

















@media (min-width: 1280px) {

}
